<nav class="bg-[#8DC63F]">
  <div
    class="h-[85px] mx-auto max-w-[1200px] flex items-center justify-between px-8"
  >
    <a href="../index.html">
      <img
        class="w-[220px]"
        src="./assets/image/main-logo.png"
        alt="Paytrash icons"
      />
    </a>
    <ul class="flex items-center gap-16 text-white">
      <li><a href="">Home</a></li>
      <li><a href="">Profile</a></li>
      <li><a href="">Kontak</a></li>
      <li><a href="">Hubungi Kami</a></li>
    </ul>
  </div>
</nav>
