<nav class="bg-[#2CB249]">
  <div
    class="h-[169px] mx-auto max-w-[1200px] px-8 flex flex-col justify-center"
  >
    <div class="mb-6 flex justify-between">
      <ul class="flex items-center gap-5 text-white">
        <li><a href="#">call center</a></li>
        <li><a href="#">kontak kami</a></li>
      </ul>
      <ul class="flex items-center gap-5 text-white">
        <li><a href="../notifikasi.html">Notifikasi</a></li>
        <li><a href="#">Bantuan</a></li>
        <li><a href="#">Bahasa Indonesia</a></li>
      </ul>
    </div>
    <div class="flex items-center justify-between">
      <img
        class="w-[220px]"
        src="../assets/image/main-logo.png"
        alt="Paytrash icons"
      />
      <div class="w-[700px] bg-white p-2 flex items-center gap-6 rounded-md">
        <img class="w-6" src="../assets/image/search.svg" alt="" />
        <input
          class="bg-transparent text-slate-900 outline-none"
          type="text"
          placeholder="Cari..."
        />
      </div>
    </div>
  </div>
</nav>
