<aside class="basis-2/5">
  <div class="flex items-center gap-9 mb-20">
    <img
      class="w-24 h-24 object-cover border-2 border-slate-400 rounded-full"
      src="../assets/image/mark.webp"
      alt=""
    />
    <div>
      <p class="text-xl font-semibold">Mark Zuckerberg</p>
      <p>Ubah profile</p>
    </div>
  </div>
  <div>
    <ul class="flex flex-col gap-7 pl-32">
      <li class="text-xl font-semibold text-[#8DC63F]">Dashboard</li>
      <li class="text-xl font-semibold">Bayar sampah</li>
      <li class="text-xl font-semibold">Transaksi</li>
      <li class="text-xl font-semibold">Riwayat Transaksi</li>
      <li class="text-xl font-semibold">Koinku</li>
    </ul>
  </div>
</aside>
